* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navLinks {
  color: #212121;
}
.navLinks :hover {
  color: #212121;
  text-decoration: none;
}
#profilePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#profilePage .back {
  background: royalblue;
  height: 170px;
  width: 100%;
}

#leader {
  border-radius: 1%;
  -webkit-transform: translateY(-120px);
  transform: translateY(-120px);
  max-width: 900px;
  background: #f7f7f7;
  -webkit-box-shadow: 6px 4px 15px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 6px 4px 15px 0px rgba(0, 0, 0, 0.38);
}

#leader #top {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#leader #top .pic {
  margin: 15px;
}

#leader #top .pic img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

#leader #top .name {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.5rem;
}

#leader #top .about {
  padding: 20px;
}

#leader .line {
  -webkit-transform: translateX(7.5%);
  transform: translateX(7.5%);
  width: 85%;
  opacity: 0.85;
}

#leader #bottom {
  position: relative;
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#leader #bottom .skills {
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
}

#leader #bottom .skills .title {
  padding: 15px;
  font-family: "Noto Sans", sans-serif;
  font-size: 2.1rem;
}

#leader #bottom .skills .list {
  text-align: left;
  width: 100%;
}

#leader #bottom .skills .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

#leader #bottom .skills .list ul li {
  padding: 8px;
  margin: 6px 50px;
}

@media only screen and (max-width: 940px) {
  #leader {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */
